<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Permission</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Add Permission</h1>
    <form action="/add_permission" method="post">
        <label for="permission_access">Permission Access:</label>
        <input type="text" id="permission_access" name="permission_access" required><br>
        
        <button type="submit">Add Permission</button>
    </form>
</body>
</html>