<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChooseSubscription</title>
</head>
<body>
    <form action="/change_subscription" method="post">
        <h2>Tier 1</h2>
        <input type="hidden" id="subscription" name="subscription" value="tier1">
        <label for="auto">Auto-Renew:</label><br>
        <input type="checkbox" id="auto" >
        <button type="submit">Choose Basic</button>
    </form>
    <form action="/change_subscription" method="post">
        <h2>Tier 2</h2>
        <input type="hidden" id="subscription" name="subscription" value="tier2">
        <label for="auto">Auto-Renew:</label><br>
        <input type="checkbox" id="auto" >
        <button type="submit">Choose Standard</button>
    </form>
    <form action="/change_subscription" method="post">
        <h2>Tier 3</h2>
        <label for="auto">Auto-Renew:</label><br>
        <input type="checkbox" id="auto" >
        <input type="hidden" id="subscription" name="subscription" value="tier3">
        <button type="submit">Choose Premier</button>
    </form>
</body>
</html>